* {
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  font-family: "Outfit", sans-serif;
  background-color: #d6e2f0;
}

.card {
  width: 289px;
  background-color: white;
  border-radius: 15px;
  /* overflow: hidden; */
}

.card__img {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
}

.card__body {
  text-align: center;
}

.card__title {
  padding: 0 20px;
  font-size: 20px;
  color: #1f3251;
}

.card__text {
  margin: 15px 15px 30px;
  font-size: 15px;
  color: #7b879d;
}
